<script src="/js/scripts.js"></script>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Reps</th>
            <th>Weight</th>
            <th>Date</th>
            <th>Lbs</th>
        </tr>
    </thead>
    <tbody id="table">
        {{#each rows}}
        <tr>
            <td class ="d-none">
                <input type="number" class="form-control" value={{this.id}} readonly>
            </td>
            <td>
                <input type="text" class="form-control" value="{{this.name}}" readonly>
            </td>
            <td>
                <input type="number" class="form-control" value={{this.reps}} readonly>
            </td>
            <td>
                <input type="number" class="form-control" value={{this.weight}} readonly>
            </td>
            <td>
                <input type="date" class="form-control" value={{this.date}} readonly>
            </td>
            <td>
                <input type="text" class="form-control" value={{this.lbs}} readonly>
            </td>
            <td>
                <button type="submit" class="btn btn-primary">Edit</button>
            </td>
            <td>
                <button type="submit" class="btn btn-primary">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div>
    <button type="submit" class="btn btn-primary" id="resetTable">Reset Table</button>
</div>